@font-face {
    font-family: apol;
    src: url(../fonts/Astonpoliz/Astonpoliz.otf),url(../fonts/Astonpoliz/Astonpoliz.ttf);
}
*{
    font-family: apol;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    background: #59656F;
    margin: 0;
}

.toggle{
    display: block;
}

h1{
    text-align: center;
    color: #FFD400;
    font-size: 40px;
    /* margin: 0; */
    position: absolute  ;
    top: 0;   
}
.container-item{
    position: relative;
    top: 80px;
    width: 40%;
    border: none;
    font-size: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1D1E2C;
    color: #FFFFFF;
    box-shadow: #2e2f3f 8px 8px 8px;
    border-radius: 15px;
    margin: 15px;
    padding: 15px 0;   
}
.img-container{
    width: 150px;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.about{
    width: 80%;
    height:50%;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    margin: 10px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    list-style: none;
}
.name .ok{
    margin-right: 45px;
}
.email .ok{
    margin-right: 50px;
}
.address .ok{
    margin-right: 27px;
}
.phone .ok{
    margin-right: 41px;
}
.Website .ok{
    margin-right: 27px;
}
.Company .ok{
    margin-right:10px;
}




span{
    color:#FFD400;
}
@media only screen and (max-width:600px){
    .container-item{
        width: 90%;
        font-size: 15px;
    }
    .about{
        margin: 0;
    }
    .name .ok{
        margin-right: 45px;
    }
    .user-name .ok{
        margin-right: 11px;
    }
    .email .ok{
        margin-right: 48.5px;
    }
    .address .ok{
        margin-right: 31px;
    }
    .phone .ok{
        margin-right: 41.5px;
    }
    .Website .ok{
        margin-right: 31px;
    }
    .Company .ok{
        margin-right:18px;
    }
    button{
        font-size: 15;
    }
}

.address,.phone,.Website,.Company{
    display: none;
}

.toggle{
    display: block;
}
button{
    cursor: pointer;
    width: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 0;
    padding-top: 2px;
}